@model IEnumerable<FrameworkVsCore.Models.BookModel>

@{
    ViewBag.Title = "ViewBooks";
}

<h2>ViewBooks</h2>

<p>
    @Html.ActionLink("Create New", "BooksCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

    </tr>
}

</table>
